
@font-face {
  font-family: 'AudiType-ExtendedNormal';
  src: url('./audifonts/extendednormal/AudiType-ExtendedNormal.eot?#iefix') format('embedded-opentype'),
  url('./audifonts/extendednormal/AudiType-ExtendedNormal.woff') format('woff'), url('./audifonts/extendednormal/AudiType-ExtendedNormal.ttf')  format('truetype'), url('./audifonts/extendednormal/AudiType-ExtendedNormal.svg#AudiType-ExtendedNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
