
@font-face {
  font-family: 'AudiType-Bold';
  src: url('AudiType-Bold.eot?#iefix') format('embedded-opentype'),  url('AudiType-Bold.woff') format('woff'), url('AudiType-Bold.ttf')  format('truetype'), url('AudiType-Bold.svg#AudiType-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
