.audi_webisodios article, .webisodios article {
  margin: 0px;
  padding: 0;
}

.audi_webisodios .barrasuperior, .webisodios .barrasuperior {
  min-height: $altobarrasuperior;
  background-color: $audiblanco;

}

.audi_webisodios .contenedor {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr 150px;
  height: calc(100vh - #{$altobarrasuperior});
  justify-items: center;
  /*background-image: url("../../uploads/2018/02/fondo_webisodios_1280_600.jpg");*/
  background-image: url("../../uploads/2018/04/fondo_webisodios_001.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: darken($audired, 5%);
  background-blend-mode: darken, luminosity;
}

.audi_webisodios .logo {
  padding-top: 6.2em;
  @media (min-width: 800px) { //de 800 a 1200

  }
  @media (min-width: 1200px) { //1200 y más

  }
}

.audi_webisodios .logo img {
  max-width: 150px;
  @media (min-width: 800px) { //de 800 a 1200
    max-width: 260px;
  }
  @media (min-width: 1200px) { //1200 y más
    max-width: 220px;

  }
}

.audi_webisodios .titulo { //MOVIL TODOS
  padding-top: 0.6em;/*xxx*/
  text-transform: uppercase;
  text-align: center;
  font-family: 'AudiType-Bold', verdana, sans-serif !important;
  color: $audiblanco;
  font-size: 2.0em;
  @media (min-width: 800px) { //de 800 a 1200
    font-size: 4.0em;
  }
  @media (min-width: 1200px) { //1200 y más
    font-size: 9.6em;

  }
}

a.botonaudi {
  color: $audiblanco;
  text-align: center;
  font-family: 'AudiType-Normal', verdana, sans-serif !important;
  border: 3px $audiblanco solid;
  height: auto;
  padding: 0.2em 2em;
  font-size: 1.2em;
  background-color: rgba($audinegro, .4);
  @media (min-width: 800px) { //de 800 a 1200
    grid-template-columns: 1fr;
    padding: 0.2em 2em;
    font-size: 1.6em;
  }
  @media (min-width: 1200px) { //1200 y más
    padding: 0.2em 2em;
    font-size: 2.0em;
  }
}
a.botonmedio {
  font-size: 1.6em;
  max-width: 320px;
}

.audi_webisodios .loadmore {
  color: $audiblanco;
  font-family: 'AudiType-Normal', verdana, sans-serif !important;
  font-size: 2.6em;

  align-self: end;

}

.audi_webisodios span.center {
  font-family: 'AudiType-ExtendedNormal', verdana, sans-serif !important;
  display: block;
  text-align: center;
  margin-top: -50px;
  font-size: 2em;
  font-weight: 100;
}

.audi_webisodios .enlaces { //MOVIL Y GENERALES
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "manualvitrina"
  "manualtaller"
  "inspiracion";


  @media (min-width: 800px) { //de 800 a 1200
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "manualvitrina"
    "manualtaller"
    "inspiracion";
  }
  @media (min-width: 1200px) { //1200 y más
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "manualvitrina manualtaller"
    "inspiracion inspiracion";
  }
}


/*.enlace_libro, .enlace_preguntas, .enlace_novedades, .enlace_clientes {
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  min-height: 400px;
  padding: 0;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.enlace_manualvitrina, .enlace_manualtaller, .enlace_inspiracionaudi{
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  min-height: 400px;
  padding: 0;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enlace_manualvitrina{
  grid-area: manualvitrina;
  background-image: url("../../uploads/2018/04/logo_manual_vitrina.jpg");
  background-position: center center;

}
.enlace_manualtaller{
  grid-area: manualtaller;
  background-image: url("../../uploads/2018/04/logo_manual_taller.jpg");
  background-position: center center;
}
.enlace_inspiracionaudi{
grid-area: inspiracion;
  background-image: url("../../uploads/2018/04/fondo_inspiracion_audi.jpg");
  background-position: top center;
}


/*
.audi_webisodios .enlace_libro {
  background-image: url("../../uploads/2018/02/webisodios_libro_imagen.jpg");
  background-position: center center;

}

.audi_webisodios .enlace_preguntas {
  background-image: url("../../uploads/2018/02/webisodios_novedades_imagen.jpg");
  background-position: center center;
}

.audi_webisodios .enlace_novedades {
  background-image: url("../../uploads/2018/02/webisodios_preguntasfrecuentes_imagen.jpg");
  background-position: center center;
}

.audi_webisodios .enlace_clientes {
  background-image: url("../../uploads/2018/02/webisodios_clientes_imagen.jpg");
  background-position: center center;
}
*/
a.botonmedio:link, a.botonaudi:link {
  background-color: rgba($audinegro, $botonNormal)
}

a.botonmedio:visited, a.botonaudi:visited {
  background-color: rgba($audinegro, $botonNormal)
}

a.botonmedio:hover, a.botonaudi:hover {
  background-color: rgba($audinegro, $botonHover)
}

a.botonmedio:active, a.botonaudi:active {
  background-color: rgba($audinegro, $botonNormal)
}

.audi_webisodios a:link {
  color: $audiblanco;
  text-decoration: none;
}

.audi_webisodios a:visited {
  color: $audiblanco;
}

.audi_webisodios a:hover {
  color: $audiblanco;
}

.audi_webisodios a:active {
  color: $audiblanco;
}

/*

    enlace_libro
    enlace_preguntas
    enlace_novedades
    enlace_clientes
*/

/*
.texto_audi_verepisodios p {
  color: white;
  text-align: center;
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 0.297);
  margin: -50px auto 0 auto;

  border: 5px white solid;
}

.texto_audi_verepisodios p {
  font-size: 1.2em;
  width: 200px;
  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 50px;

  }

  @media (min-width: 800px) {
    font-size: 1.8em;
    width: 300px;
  }
  @media (min-width: 1200px) {
    font-size: 2.8em;
    width: 400px;
  }
}
*/

/*PÁGINA WEBISODIOS*/

.webisodios .contenedor {
  max-width: 1280px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto;
}

.webisodios .titulopagina {
  text-transform: uppercase;
  font-family: 'AudiType-Normal', verdana, sans-serif;
  text-align: center;
  border-top: $audialuminio 2px solid;
  background-color: $audiblanco;
  color: $audiplata;
  font-size: 3em;
}

.webisodios .videos {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  grid-gap: 3px;
  @media (min-width: 800px) { //de 800 a 1200
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1200px) { //1200 y más
    grid-template-columns: 1fr 1fr;
  }
}

.webisodios .videos div.internovideo {
  min-height: 320px;
  min-width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: $audiblanco;
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.idf{
  display: grid;
}
.internovideo:hover{
  cursor: pointer;
  background-color: lighten($audired, 10%);
  background-blend-mode: darken;
}
.infovideo {
  min-width: 100%;
  font-family: 'AudiType-Normal', verdana, sans-serif;
  background: rgba($audired, 0.7);
  padding: 1em;
}

.infovideo .nombrevideo {
  font-size: 1.2em;
  font-weight: bold;
}

.internovideo div.videoplay{
  font-size: 5em;
  align-self: end;
  justify-self: center;
  padding-bottom: 0.5em;
}
div.videoplay a:link{
  color: $audiblanco;
  border-radius: 100px;
  //background-color: lime;
}
div.videoplay a:hover{
  color: $audired;

}
div.videoplay a:visited{
  color: $audiblanco;
}
div.videoplay a:active{
  color: $audiblanco;
}

.infovideo .referenciavideo {
}
.webisodios .videos div.internovideo.video7 {
  background-image: url("../../uploads/2018/07/video-perfiles.jpg");
}
.webisodios .videos div.internovideo.video8 {
  background-image: url("../../uploads/2018/07/video-chaekout.jpg");
}
.webisodios .videos div.internovideo.video5 {
  background-image: url("../../uploads/2018/04/video2.png");
}

.webisodios .videos div.internovideo.video6 {
  background-image: url("../../uploads/2018/04/video7.png");
}

.webisodios .videos div.internovideo.video3 {
  background-image: url("../../uploads/2018/05/mini-testdrive.png");
}

.webisodios .videos div.internovideo.video4 {
  background-image: url("../../uploads/2018/05/mini-chekin.png");
}

.webisodios .videos div.internovideo.video1 {
  background-image: url("../../uploads/2018/05/mini-oferta.png");
}

.webisodios .videos div.internovideo.video2 {
  background-image: url("../../uploads/2018/05/mini-impecable.png");
}

.fancybox-slide--iframe .fancybox-content {
  width  : 81%;
  height : 81%;
  max-width  : 80%;
  max-height : 80%;
  margin: 0;
}

img.logovitrina{
  max-width: 400px; //OLD 200
}

div.titulowebisodios{
  display: grid;
  grid-template-columns: 1fr 19px 1fr;

}
div.esloganserie{
  color: $audiblanco;
  font-family: 'AudiType-Normal', verdana, sans-serif;
  text-align: right;
  margin-right: 2em;
  align-self: center;
  font-size: 1.3em;
}
div.separaeslogan{
  background: $audiblanco;
  margin-left: 9px;
  margin-right: 9px;
}
div.enlace{
margin-left: 2em;
}


.entradas-inspiracion{
  backround: red;
  display: none;
}
img.logo-seccion-videos{
  padding-top: 20px;
  max-width: 180px;
}

/*BLOG INSPIRACION*/
#bloginspiracion{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding-left: 2em;
  padding-right: 2em;
  @media (min-width: 800px) { //de 800 a 1200
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1200px) { //1200 y más
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#bloginspiracion article{
  border: 1px $audired solid;
  max-width: 400px;

}
#bloginspiracion article h4{
  background-color: $audired;
  display: block;
  min-width: 100%;
  padding: 0.5em;
  margin: 0;
  height: 70px;
}
#bloginspiracion article >a {
  margin: 0;
  padding: 0;
}
#bloginspiracion article >a img {
  min-width: 100%;
  height: auto;
}
#bloginspiracion article .entry-content {

  padding: 0.4em;
}
#bloginspiracion article h4 a:link, #bloginspiracion article h4 a:visited, #bloginspiracion article h4 a:hover, #bloginspiracion article h4 a:active{
color: $audiblanco;
}