/**
*
* CUSTOM FONTS
* La Lupita Producciones SAS
*
*/

@font-face {
  font-family: 'AudiType-Bold';
  src: url('./audifonts/bold/AudiType-Bold.eot?#iefix') format('embedded-opentype'), url('./audifonts/bold/AudiType-Bold.woff') format('woff'), url('./audifonts/bold/AudiType-Bold.ttf') format('truetype'), url('./audifonts/bold/AudiType-Bold.svg#AudiType-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AudiType-ExtendedBold';
  src: url('./audifonts/extendedbold/AudiType-ExtendedBold.eot?#iefix') format('embedded-opentype'),
  url('./audifonts/extendedbold/AudiType-ExtendedBold.woff') format('woff'), url('./audifonts/extendedbold/AudiType-ExtendedBold.ttf') format('truetype'), url('./audifonts/extendedbold/AudiType-ExtendedBold.svg#AudiType-ExtendedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AudiType-ExtendedNormal';
  src: url('./audifonts/extendednormal/AudiType-ExtendedNormal.eot?#iefix') format('embedded-opentype'),
  url('./audifonts/extendednormal/AudiType-ExtendedNormal.woff') format('woff'), url('./audifonts/extendednormal/AudiType-ExtendedNormal.ttf') format('truetype'), url('./audifonts/extendednormal/AudiType-ExtendedNormal.svg#AudiType-ExtendedNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AudiType-Normal';
  src: url('./audifonts/normal/AudiType-Normal.eot?#iefix') format('embedded-opentype'),
  url('./audifonts/normal/AudiType-Normal.woff') format('woff'), url('./audifonts/normal/AudiType-Normal.ttf') format('truetype'), url('./audifonts/normal/AudiType-Normal.svg#AudiType-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}



