/*Variables generales*/
$altobarrasuperior: 100px;
/*Botones*/
$botonNormal: 0.4;
$botonHover: 0.7;
/*Colores*/
$audired: #bb0a30;
$audiplata: #b6b1a9;
$audialuminio: #b3b3b3;
$audinegro: #000000;
$audiblanco: #ffffff;
/*
$audired: #bb0a30;
$audiplata: #b6b1a9;
$audialuminio: #b3b3b3;
$audinegro: #000000;
$audiblanco: #ffffff;
*/
